.objectTile {
  background-color: aliceblue;
  background-size: contain;
  width: 20%;
  height: 25%;
  text-align: center;
  display: block;

}
.objectImage {
  object-fit: cover;
  width: 90%;
  height: 90%;
  
}

.objectTitle {
  margin: 10px;


}
